*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font{
  font-family: "Inter", sans-serif;
}

/* Header style */
header{
    background-color: #1A0B2E;
    padding: 24px 0px;
    border-bottom: 1px solid rgb(46, 46, 46);

}
.navber{
    background-color: #1A0B2E;
    width: 73%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    
    align-items: center;
    text-align: center;
    
}
.logo{
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.logo span{
    background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
    background-clip: text;
    color: transparent;
}
.nav-links{
    display: flex;
    gap: 32px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;

}
.btn-subcribe{
    background: linear-gradient(45deg, #f7e93f,
    #fb09b4,
    #9100f8);
    border: none;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;

}
/* hero section techwave */
.hero{
    background: url(./assets/hero-bg.png);
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: contain;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 90px;
    background-repeat: repeat;
}
.hero-img-content{
    top: -130px;
    position: relative;
}
.hero-img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 160px;
    margin-bottom: 120px;
}
.hero-img-microph{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-button{
    display: flex;
    gap: 8px;

}
.hero-content{
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.hero-spotify, .hero-message{
    display: flex;
    padding: 12px 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    gap: 8px;
    border: none;

}
.hero-spotify{
    background: linear-gradient(45deg, #f7e93f,
    #fb09b4,
    #9100f8);
    color: white;
}
.hero-message{
    color: #00FF88;
    background-color: transparent;
    border: 1px solid #00FF88;
}
.hero-title{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 12px;
}    
.hero-subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
    letter-spacing: 1px;
    text-align: center;

}

/* .podcast */

.podcast-theme{
    background: rgba(26, 11, 46, 1);
}
.podcast{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    flex-direction: column;
    width: 73%;
    margin: 0 auto;
    max-width: 1200px;
}
.podcast-container h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 30px;
}
.podcast-container .first-subtitle, .sec-subtitle{
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 40px;
    letter-spacing: 1px;
    
}

.podcast .line{
    border: 1px solid #292929;
    margin: 30px 0px 80px 0px;
}

/* podcast rating */

.podcast .rating{
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: #FFFFFF;
    margin-bottom: 100px;
}
.podcast .monthly{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 16px;
}
.podcast .monthly h1{
    font-size: 48px;
    font-weight: 700;
    color: #00FF88;
}
.podcast .monthly p{
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
}
