*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font{
  font-family: "Inter", sans-serif;
}

/* Header style */
header{
    background-color: #1A0B2E;
    padding: 24px 0px;
    border-bottom: 1px solid rgb(46, 46, 46);

}
.navber{
    background-color: #1A0B2E;
    width: 73%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    
    align-items: center;
    text-align: center;
    
}
.logo{
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.logo span{
    background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
    background-clip: text;
    color: transparent;
}
.nav-links{
    display: flex;
    gap: 32px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;

}
.btn-subcribe{
    background: linear-gradient(45deg, #f7e93f,
    #fb09b4,
    #9100f8);
    border: none;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;

}
/* hero section techwave */
.hero{
    background: url(./assets/hero-bg.png);
    width: 100%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
