*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font{
  font-family: "Inter", sans-serif;
}

/* Header style */
header{
    background-color: #1A0B2E;
    padding: 24px 0px;
    border-bottom: 1px solid rgb(46, 46, 46);

}
.navber{
    background-color: #1A0B2E;
    width: 73%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    
    align-items: center;
    text-align: center;
    
}
.hide-hamberger{
    display: none;
}
.logo{
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.logo span{
    background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
    background-clip: text;
    color: transparent;
}
.nav-links{
    display: flex;
    gap: 32px;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;

}
.btn-subcribe{
    background: linear-gradient(45deg, #f7e93f,
    #fb09b4,
    #9100f8);
    border: none;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;

}
/* hero section techwave */
.hero{
    background: url(./assets/hero-bg.png);
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.hero-img-content{
    top: -130px;
    position: relative;
}
.new-logo{
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    background-color: #00FF88;
    display: inline;
    border-radius: 50px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    position: absolute;
    top: 180px;
    right: 140px;

}

.hero-img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 160px;
    margin-bottom: 120px;
}
.hero-img-microph{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-button{
    display: flex;
    gap: 8px;

}
.hero-content{
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.hero-spotify, .hero-message{
    display: flex;
    padding: 12px 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    gap: 8px;
    border: none;

}
.hero-spotify{
    background: linear-gradient(45deg, #f7e93f,
    #fb09b4,
    #9100f8);
    color: white;
    font-size: 16px;
    font-weight: 600;
}
/* massage animation */

.message-btn {
  background: transparent;
  color: #00ff9c;
  border: 2px solid #00ff9c;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  animation: pulse 2s infinite;
}

.message-btn:hover {
  box-shadow: 0 0 15px #00ff9c, 0 0 30px rgba(0,255,156,0.6);
  transform: scale(1.06);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0,255,156,0.6);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(0,255,156,0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0,255,156,0);
  }
}

.hero-title{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 12px;
}    
.hero-subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
    letter-spacing: 1px;
    text-align: center;

}

/* .podcast */

.podcast-theme{
    background: rgba(26, 11, 46, 1);
}
.podcast{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    flex-direction: column;
    width: 73%;
    margin: 0 auto;
    max-width: 1200px;
}
.podcast-container h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 30px;
}
.podcast-container .first-subtitle, .sec-subtitle{
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 40px;
    letter-spacing: 1px;
    
}

.podcast .line{
    border: 1px solid #292929;
    margin: 30px 0px 80px 0px;
}

/* podcast rating */

.podcast .rating{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    margin-bottom: 100px;
    flex-wrap: wrap;
    gap: 40px;
}
.podcast .monthly{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.podcast .monthly h1{
    font-size: 48px;
    font-weight: 700;
    color: #00FF88;
}
.podcast .monthly p{
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
}
/* teachwave */
.teachwave-theme{
    background: rgba(35, 14, 61, 1);
}
.teachwave{
    max-width: 1200px;
    margin: 0px auto;
    padding-bottom: 120px;
}
.techwave-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 225px);
    gap: 30px;
    
}
.techwave-container .card{
    padding: 40px;
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 24px;
}
.teachwave h1{
    text-align: center;
    color: white;
    font-size: 48px;
    padding-top: 120px;
    margin-bottom: 40px;
}
.techwave-container h4{
    font-size: 24px;
    color: white;
    font-weight: 600;
    margin-top: 16px;
}
.techwave-container p{
    font-size: 16px;
    color: white;
    margin-top: 16px;
    opacity: 0.6;
}
/* layout grid */
.big-layout{
    grid-column: span 2;
    grid-row: span 1;
}
.small-layout{
    grid-column: span 1;
    grid-row: span 2;
}
.more-small-layout{
    grid-column: span 1;
    grid-row: span 1;
}

/* feature */
.feature-theme{
    background: rgba(26, 11, 46, 1);
    padding-bottom: 100px;
}
 
.feature-content{
    display: grid;
    grid-template-columns: repeat(3, 380px);
    gap: 30px;
    width: max-content; 
    margin: 0 auto;
}

.feature-container{
    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    padding-top: 120px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.feature-card iframe{
    width: 380px;
    height: 214px;
}
.feature-card{
    color: white;
    background-color: rgba(37, 13, 68, 1);
    border-radius: 24px;
    

}
.feature-card-content{
    padding: 0px 24px 24px 24px;

}
.feature-card-content h3{
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 12px;
}
.feature-card-content p{
    font-size: 16px;
    opacity: 0.6;
    line-height: 24px;
    margin-bottom: 12px;
    padding-top: 0px;
}

.duration-img img{
    width: 20px;
    height: 20px;
    display: block;
}
.duration-img{
    color: #00FF88;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 6px;  
}

.play-btn {
  position: relative;
  left: 50%;
  top: -110px;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #ff2fd3, #6f5cff);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  cursor: pointer;
}
.feature-card{
    background-color: rgba(37, 13, 68, 1);
    border-radius: 24px;
    overflow: hidden;
}
.host h1{
    color: white;
    margin-bottom: 80px;
    margin-top: 120px;
    text-align: center;
    font-size: 52px;
    font-style: bold;
}
.host-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 24px;
    background: rgba(53, 17, 101, 0.4);
    max-width: 1200px;
    margin: 0px auto;
    border-radius: 48px;
}
.host-container h4{
    color: white;
    font-size: 32px;
    margin-bottom: 16px;
    margin-top: 10px;
}
.host-container p{
    color: white;
    font-size: 16px;
    opacity: 0.6;
    margin-bottom: 16px;
    line-height: 24px;
}
.host-icon{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    

}
.container-icon{
    display: flex;
    justify-content:  center;
    flex-direction: column;

}
.host-icon img{
    border: 1px solid rgba(83, 60, 114, 1);
    padding: 12px;
    border-radius: 50%;
    overflow: visible;
    
}
/* footer */
.fotter{
    background: url(./assets/footer-bg.png);
    width: 100%;
    max-height: 480px;
    color: white;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}
.fotter-icon{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;

}
.fotter-title h1{
    font-size: 70px;
    margin-top: 120px;

    
}
.fotter-title span{
    background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
    background-clip: text;
    color: transparent;
}
.footer-content{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.fotter-contain{
    display: flex;
    gap: 40px;

}
.fotter-icon p, .fotter-copyright{
    opacity: 0.6;
}
.fotter-copyright{
    margin-bottom: 120px;
}


/* media screen */
@media screen and (max-width: 576px) {
    .navber{
        .nav-links, .btn-subcribe{
            display: none;
        }
        .hide-hamberger{
            display: block;
        }
    }
    .techwave-container{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 30px;
        padding: 20px;
    }
    .big-layout{
        grid-column: span 2;
        grid-row: span 1;
    }
    .small-layout{
        grid-column: span 2;
        grid-row: span 1;
    }
    .more-small-layout{
        grid-column: span 2;
        grid-row: span 1;
    }
    .feature-content{
        display: grid;
        grid-template-columns: repeat(1, 380px);
        gap: 30px;
        width: max-content;
    }
    .host-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 20px;
        
    }
    .container-icon, .host-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .fotter-contain{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 100px;
    }
    .fotter-title h1{
        margin-top: 40px;
    }
    .fotter-copyright{
        margin-bottom: 40px;
    }
    
    
}